{% extends 'accounts/main.html' %}

{% block content %}


<head>

</head>
<style>
.current_level {
  position: absolute;
  text-align: left;
  top: 15%;
  left: 20%;
  transform: translate(0%, 0%);
  opacity: 1
  color: black;
}

.next_training {
  position: absolute;
  text-align: left;
  top: 40%;
  left: 20%;
  transform: translate(0%, 0%);
  opacity: 1
   color: black;
}

.progress {
  position: absolute;
  text-align: left;
  top: 65%;
  left: 20%;
  transform: translate(0%, 0%);
  opacity: 1
  color: black;
}



</style>

<body style="background-color:#55edd7;">

<div class="current_level">
    <h2 style = "font-family:Lato;font-size:30px;">Current fitness level : 9m 30s (2.4km)</h2>
</div>

<div class="next_training">
    <h2 style = "font-family:Lato;font-size:30px;">Next training : 400m x10 (88s/400m)</h2>
</div>

<div class="progress">
    <h2 style = "font-family:Lato;font-size:30px;">Progress towards goal: </h2>
</div>

</body>


{% endblock %}